/* ===== WelcomeHeader ===== */
.welcome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
  /* gray-200 */
}

.welcome-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #1f2937;
  /* gray-800 */
}

.welcome-text strong {
  color: #122459;
  /* blue-500 */
  font-weight: 700;
}